* {
  margin: 0;
  padding: 0;
}
h2 {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
Section {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  display: flex;
}
.centerInfo {
  margin-left: 10px;
}
th {
  padding: 5px;
}
td {
  padding: 5px;
}
.reviewP {
  margin-bottom: 10px;
  font-size: 20px;
}
.reviewSection {
  display: flex;
  flex-wrap: wrap;
}
footer {
  height: 50px;
  margin-top: 10px;
  background-color: #f2cb7e;
  border-top: 1px solid gray;
  color: white;
}

.test {
  margin: 0 auto;
}
