header {
  width: 100%;
  height: 50px;
  background-color: #ffc98b;
  color: white;
  font-family: "KCC-Ganpan";
}
.menuBar {
  display: flex;
  flex-direction: row;
  float: right;
}
.mainlogo {
  width: 70px;
  height: 40px;
  margin: 5px;
}
.menuBar span {
  padding: 12px;
  font-size: 1em;
}
.menuBar span:hover {
  font-size: 1em;
  font-weight: 800;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #ffc98b;
  color: white;
  font-family: "KCC-Ganpan";
  display: flex;
  align-items: center;
  justify-content: center;
}
