* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "OTWelcomeRA";
}
main {
  margin: auto;
}
.map {
  width: 20vw;
  height: 20vw;
  display: inline-block;
  position: relative;
  top: -10vw;
  left: 22vw;
  display: none;
}

.fa-magnifying-glass {
  display: inline-block;
  margin: auto;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.search {
  background-color: white;
  width: 35vw;
  height: 47px;
  margin: 0 auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  border: 1px solid black;
}
.search > input {
  width: 75%;
  height: 100%;
  margin: 0;
  border: none;
  outline: none;
}
.logo {
  border: none;
  background-color: white;
}
.ticketContents {
  background-color: var(--color-main-lighter);
  min-height: 80vh;
  width: 75vw;
  height: 60vw;
  margin: 0 auto;
  overflow: auto;
  border-radius: 10px;
}
/* 1vw=7.8px */
.card {
  width: 100%;
  height: 20vw;
  display: flex;
  padding: 10px 0px;
}

.cardImg {
  width: 24vw;
  height: 18vw;
  display: inline;
  border-radius: 10px;
}

.cardContent {
  padding: 2vw;
  display: inline-block;
  width: 100%;
  height: 20vw;
}

.title {
  font-family: "OTWelcomeRA";
  font-size: 2vw;
  margin: 0;
  font-weight: bold;
}

.date {
  font-family: "BookkMyungjo-Bd";
  font-size: 1.3vw;
  margin: 0;
}

.infolabel {
  display: inline-block;
  width: 8vw;
}

.infocontent {
  display: inline-block;
}

.info {
  font-family: "SUITE-Regular";
  font-size: 1.5vw;
  list-style: none;
  padding: 0;
}

.info li {
  margin: 2px;
}

hr {
  display: block;
  margin: auto;
  width: 95%;
}

.word {
  width: 35vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn {
  border: none;
  float: right;
  position: relative;
  width: 8vw;
  height: 2vw;
  cursor: pointer;
  border-radius: 2vw;
  font-size: 1vw;
  font-family: "OTWelcomeRA";
  background-color: var(--color-main);
  text-align: center;
}

.num {
  margin: 0 0.5vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

/* dropdown */
#selectbox {
  width: 20%;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 10px 0 0 10px;
}
footer {
  height: 50px;
  margin-top: 10px;
  background-color: #f2cb7e;
  border-top: 1px solid gray;
  color: white;
}

/* 미디어쿼리 */
@media screen and (max-width: 1200px) {
  .search {
    width: 50vw;
  }
}

@media screen and (max-width: 860px) {
  .btn {
    bottom: 85%;
  }
  .search {
    width: 80vw;
  }
}
@media screen and (max-width: 560px) {
  .search {
    width: 95vw;
  }
  .infolabel {
    width: 10vw;
  }
  br {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .btn {
    bottom: 95%;
  }
  .infolabel {
    width: 14vw;
  }
  .card {
    height: 22vw;
  }
}
@media screen and (max-width: 400px) {
  .cardImg {
    height: 23vw;
  }
}
