* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.seatLayout {
  width: 70%;
  height: 600px;
  background-color: rgb(247, 247, 241);
  margin: 0 auto;
  position: relative;
  top: 5px;
  overflow: scroll;
}
.stage {
  width: 600px;
  height: 30px;
  background-color: gray;
  color: black;
  font-weight: 500;
  position: absolute;
  top: 20px;
  left: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.column {
  width: 20px;
  height: 20px;
  font-size: 18px;
  font-weight: 500;
  color: navy;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seat {
  width: 10px;
  height: 10px;
  background-color: gray;
  border: 1px solid black;
  position: absolute;
  overflow: hidden;
  /*A열 적을때*/
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  cursor: pointer;
}
