* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 좌석 배치도 구역 */
.seatLayout {
  width: 70%;
  height: 600px;
  background-color: rgb(247, 247, 241);
  margin: 0 auto;
  position: relative;
  top: 5px;
  overflow: scroll;
}
/* 무대 div */
.stage {
  width: 600px;
  height: 30px;
  background-color: gray;
  color: white;
  position: absolute;
  top: 20px;
  left: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* A~C 구역 안내 */
.column {
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: navy;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 숫자열 안내 */
.row {
  width: 10px;
  height: 10px;
  font-size: 10px;
  color: navy;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 층수 안내 */
.floor {
  width: 30px;
  height: 25px;
  font-size: 20px;
  color: white;
  background-color: black;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 좌석칸 */
.seat {
  width: 10px;
  height: 10px;
  background-color: gray;
  border: 1px solid black;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}
/* 2층 구별선 */
.stage2 {
  width: 790px;
  height: 5px;
  background-color: gray;
  position: absolute;
  top: 300px;
  left: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
