* {
  margin: 0;
  padding: 0;
}
header {
  height: 50px;
  background-color: #f2cb7e;
  border-bottom: 1px solid gray;
  color: white;
}
/* .menuBar {
  background-color: #f2cb7e;
  border-bottom: 1px solid gray;
} */
.menuBar span {
  padding: 12px;
  display: inline-block;
  font-size: 18px;
  float: right;
}
.menuBar span:hover {
  font-size: 20px;
  font-weight: 800;
}
section {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  position: relative;
}
h2 {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 5px;
  position: relative;
  /* margin-bottom: 20px;
  padding-bottom: 10px; */
  border-bottom: 1px solid gray;
}
.infoSection {
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  position: relative;
}
.centerInfo {
  margin: 0;
  padding: 0;
}
div .left img {
  position: absolute;
  float: left;
  margin: 0 auto;
  padding: 0;
}
div .right {
  position: absolute;
  float: right;
  padding: 0;
  margin-left: 20px;
}
.seatImg {
  margin: 0 auto;
  margin-bottom: 10px;
}
p button {
  /* width: 200px;
  height: 50px;
  margin-bottom: 10px; */
  /* background-color: #f2cb7e;
  color: white; */
  /* font-size: 20px;
  font-weight: 500; */
  float: right;
  /* border-radius: 30px; */
}
footer {
  height: 50px;
  background-color: #f2cb7e;
  border-top: 1px solid gray;
  color: white;
}
.review {
  width: 9px;
  height: 9px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background-color: coral;
}
/* .mainNavMenu {
  display: flex;
  flex-direction: row;
  list-style: none;
  float: right;
}
.Info {
  height: 320px;
  display: flex;
  flex-direction: row;
  border: 3px solid rgb(254, 194, 83);
  border-radius: 20px;
  align-items: center;
}
.seatReview {
  height: 600px;
  display: flex;
  border: 3px solid rgb(254, 194, 83);
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seatP {
  margin: 20px 10px;
  padding: 0;
  font-size: 20px;
}
.seat1 {
  width: 8px;
  height: 8px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background-color: coral;
}
.seat2 {
  background-color: green;
  width: 8px;
  height: 8px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
} */
/* .left {
    display: inline-block;
  } */
/* .right {
    float: right;
  } */
